<h1>haciendo la prueba del servicio de server</h1>
<h3>Manejando el strng interpoacion </h3>
<p>revisando la conexion del servidor</p>
<p>el {{'servidor'}} tiene el ID:{{serverId}} y el status:{{serverStatus}} </p>



<h1>componete de servidores</h1>
<app-servidores></app-servidores>
