<!-- para usar la propiedades del binding, simpre nos tiene que devolver algo, ejm el caso siguiente-->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
  Adicionar servidor
</button>
<p  >{{allowNewServer}}</p>
<p [innerText]="allowNewServer" ></p>


<h1>Creacion del servidor</h1>
<p>{{serverCreationStatus}}</p>

<h2>ingresando datos con angular</h2>
<!-- El $event es una palabra reservada para capturar el value del imput -->
<input type="text" [(ngModel)]="serverName">
<p *ngIf="serverCreate; else noServer"> Servidor ha sido creado {{serverName}}</p>
<ng-template #noServer>
  <p>no server was created!!!</p>
</ng-template>
